<!-- Sección Principal Slider/Video -->
<section class="hero-section">
  <!-- O un video de fondo -->
  <!-- <div class="video-background"> <video autoplay muted loop> <source src="assets/video.mp4" type="video/mp4"> </video> </div> -->
  <div class="container text-center hero-content">
    <h1>Bienvenido a Nuestra Empresa</h1>
    <p class="lead">Soluciones innovadoras para tus proyectos.</p>
    <a routerLink="/contacto" class="btn btn-primary-custom btn-lg">Ver Nuestros Proyectos</a>
  </div>
</section>

<!-- Breve Introducción -->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="section-title">Sobre Nosotros</h2>
        <p class="lead">Somos una empresa líder dedicada a ofrecer servicios de [tu sector] con un enfoque en la calidad, innovación y satisfacción del cliente. Descubre cómo podemos ayudarte a alcanzar tus objetivos.</p>
      </div>
    </div>
  </div>
</section>

<!-- Tipos de Proyectos -->
<section class="section-padding bg-light">
  <div class="container">
    <h2 class="section-title">Nuestras Especialidades</h2>
    <div class="row text-center">
    </div>
  </div>
</section>

<!-- Galería de Proyectos Recientes -->
<section class="section-padding">
  <div class="container">
    <h2 class="section-title">Proyectos Recientes</h2>
    <div class="row">
      <div class="col-md-4 mb-4" >
        <div class="card project-card">
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <a routerLink="/proyectos" class="btn btn-secondary-custom">Ver Todos los Proyectos</a>
    </div>
  </div>
</section>

<!-- Testimonios de Clientes -->
<section class="section-padding bg-light">
  <div class="container">
    <h2 class="section-title">Lo que dicen nuestros clientes</h2>
  </div>
</section>

<!-- Llamada a la Acción Secundaria -->
<section class="section-padding text-center">
  <div class="container">
    <h2>¿Listo para empezar tu próximo proyecto?</h2>
    <p class="lead mb-4">Contáctanos hoy mismo para discutir tus necesidades.</p>
    <a routerLink="/contacto" class="btn btn-primary-custom btn-lg">Contáctenos</a>
  </div>
</section>